* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html,
body {
	height: 100%;
}

html {
	font-size: 18px;
	line-height: 1.33333rem
}

body {
	border-top-style: solid;
	border-top-width: 10px;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	margin: 0;
	min-width: 320px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
	font-weight: 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 30px 0;
}

h1 {
	font-size: 2.33333rem;
	line-height: 2.66667rem;
}

h2 {
	font-size: 1.83333rem;
	line-height: 2.16667rem;
}

h3 {
	font-size: 1.33333rem;
	line-height: 1.66667rem;
}

h4 {
	font-size: 1rem;
	line-height: 1.33333rem;
}

h5 {
	font-size: .83333rem;
	line-height: 1.16667rem;
}

h6,
small {
	font-size: .66667rem;
	line-height: 1rem;
}

p,
ul,
ol {
	margin: 15px 0;
}

img {
	max-width: 100%;
	height: auto;
}

.brb {
	margin: 0 auto;
	max-width: 728px;
	min-width: 320px;
	padding: 60px 10px;
	text-align: center;
	width: 100%;
}

.brb__header__logo {
	display: block;
	margin: 0 auto;
	max-width: 300px;
}

.brb__header__title {
	margin: 0;
}

.brb__main__content {
	margin-top: 60px;
}

.brb__main__content :first-child {
	margin-top: 0;
}

.brb__main__content :last-child {
	margin-bottom: 0;
}

.brb__main__social {
	font-size: 0;
	line-height: 0;
	list-style: none;
	margin: 22.5px 0 0 0;
	padding: 0;
}

.brb__main__social li {
	display: inline-block;
	margin: 7.5px;
}